<div class="menu">
  <mat-icon aria-hidden="false"  fontIcon="menu" title="inicio">pets</mat-icon>
  <mat-icon aria-hidden="false"  fontIcon="menu" title="menu">menu</mat-icon>
  <mat-icon aria-hidden="false"  fontIcon="menu" title="pesquisa">search</mat-icon>
  <mat-icon aria-hidden="false"  fontIcon="menu" title="favorito">star_border</mat-icon>
  <mat-icon aria-hidden="false"  fontIcon="menu" title="mensagem">sms</mat-icon>
  <mat-icon aria-hidden="false"  fontIcon="menu" title="configuração">tune</mat-icon>
  <mat-icon aria-hidden="false"  fontIcon="menu" title="Casa">home</mat-icon>
  <mat-icon aria-hidden="false"  fontIcon="menu" title="Casa">notifications</mat-icon>
</div>
