@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

div {
  display: flex;
  flex-direction: column;
  margin: 25px;
  & span{
    font-weight: 300;
    font-size: 0.9rem;
  }
  & h2 {
    font-weight: 400;
    font-size: 1.8rem;
    margin-bottom: 0;
  }
}
form{
  display: flex;
  align-items: flex-end;
  gap: 15px;
  margin: 25px 25px 0 25px;
  label {
    font-size: 1rem;
    font-weight:700;
    input {
      display: block;
      width: 280px;
      height: 25px;
      &:focus{
        border: solid 1px;
        border-color: rgba(22,92,122,0.5);
        border-radius: 2px;
        box-shadow: 0 0 0 0;
        outline: 0;
      }
      ::placeholder{
        font-size: 1rem;
      }
    }
  }
  button {
    background-color: #165C7D;
    width: 200px;
    height: 31px;
    border: none;
    border-radius: 2px;
    color: #ffffff;
    font-size: 0.9rem;
    cursor: pointer;
    &:hover{
      background-color: #22142b;
    }
  }
}

.errorMsg{
  margin: 25px;
  color: #ff0000;
  font-size: 0.8rem;
}

.errorCPF{
  border: solid #ff0000 1px;
}

