<div class="title">
  <h2>Identificação do Titular da conta</h2>
  <span>Confirme as informações obtidas para o cadastro e atualize os dados se necessário</span>
</div>

<p>Dados Pessoas</p>
<div class="pessoal">
  <form>
    <div class="personal-image">
      <label class="label">
        <input type="file" />
        <figure class="personal-figure">
          <img src="https://avatars1.githubusercontent.com/u/11435231?s=460&v=4" class="personal-avatar" alt="avatar">
          <figcaption class="personal-figcaption">
            <img src="https://raw.githubusercontent.com/ThiagoLuizNunes/angular-boilerplate/master/src/assets/imgs/camera-white.png">
          </figcaption>
        </figure>
      </label>
    </div>
    <div class="formulario-1">
      <div>
        <label>
          Nome Completo
          <input type="text" class="form-control" >
        </label>
        <label>
          Como Gostaria de ser Chamado <span>(opcional)</span>
          <input type="text" class="form-control" >
        </label>
      </div>
      <div>
        <label>
          Data de nascimento
          <input type="date" class="form-control" >
        </label>
        <label>
          Capacidade Civil
          <select  class="form-control" >
            <option></option>
            <option>Menor emancipado</option>
            <option>Menor</option>
            <option>Meno incapazr</option>
            <option>Meno capazr</option>
          </select>
        </label>
        <label>
          Data de emancipação
          <input type="date" class="form-control" >
        </label>
      </div>
      <div>
        <label>
          Estado Civil
          <select  class="form-control" >
            <option></option>
            <option>Menor emancipado</option>
            <option>Menor</option>
            <option>Meno incapazr</option>
            <option>Meno capazr</option>
          </select>
        </label>
        <label>
          Pessoa com Deficiência
          <select  class="form-control" >
            <option></option>
            <option>Sim</option>
            <option>Não</option>
          </select>
        </label>
        <label>
          Necessidade
          <select  class="form-control" >
            <option></option>
            <option>Sim</option>
            <option>Não</option>
          </select>
        </label>
      </div>
    </div>
  </form>
  <div class="formulario-2">
    <label>
      Tipo de Nacionalidade
      <select  class="form-control" >
        <option></option>
        <option>Brasileira</option>
        <option>Outra</option>
      </select>
    </label>
    <label>
      Nacionalidade
      <select  class="form-control" >
        <option></option>
        <option>Brasileira</option>
        <option>Outra</option>
      </select>
    </label>
    <label>
      Naturalidade
     <input type="text" class="form-control">
    </label>
    <label class="check">
      Feminino
      <input class="check__valor" type="radio" name="F" class="form-control" >
    </label>
    <label  class="check">
      Masculino
      <input class="check__valor" type="radio" name="M" class="form-control" >
    </label>
  </div>
  <div class="formulario-2">
  <label>
    Nome da mãe
    <input type="text" class="form-control" >
  </label>
  <label>
    Nome do pai <span>(opcional)</span>
    <input type="text" class="form-control" >
  </label>
  </div>
</div>
<p>Documentos</p>

<div class="formulario-2">
  <label>
    CPF
    <input type="text" class="form-control" >
  </label>
  <label>
    Situação do CPF
    <select  class="form-control" >
      <option></option>
      <option>Regular</option>
      <option>Não Regular</option>
    </select>
  </label>
  <label>
    Data da consulta do CPF
    <input type="date" class="form-control" >
  </label>
</div>
<div class="formulario-2">
  <label>
    Documento de identidade
    <input type="text" class="form-control" >
  </label>
  <label>
    Número do documento
    <input type="text" class="form-control" >
  </label>
  <label>
    Órgão emissor
    <select  class="form-control" >
      <option></option>
      <option>SSP</option>
      <option>SSD</option>
    </select>
  </label>
  <label>
    UF
    <select  class="form-control" >
      <option></option>
      <option>PB</option>
      <option>SC</option>
    </select>
  </label>
  <label>
    Data de emissão
    <input type="date" class="form-control" >
  </label>
</div>

<div class="botoes">
  <button class="btn btn-primary btn-lg">Proximo</button>
  <button type="button" class="btn btn-outline-primary btn-lg"  routerLink="/">Voltar</button>
</div>


