<mat-card class="mat-elevation-z8 card">
  <mat-card-header>
    <mat-card-title>Situação Cadastral do CPF</mat-card-title>
    <mat-card-subtitle>Consulta na Receita Federal</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="informacoes">
      <mat-icon class="mat-18">person</mat-icon>
      <div class="informacoes__status">
        <span class="informacoes__nome" >Nome</span>
        <p class="informacoes__situacao">Mariane de Sousa Oliveira</p>
      </div>
    </div>
    <div class="informacoes">
      <mat-icon class="mat-18" style="color: green;">check_circle_outline</mat-icon>
      <div class="informacoes__status">
        <span class="informacoes__nome">Situação do CPF</span>
        <p class="informacoes__situacao">Regular</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
