.card{
  max-width: 300px;
  margin: 25px;
}
.informacoes{
  display: flex;
  gap: 15px;
  align-items: center;
  .informacoes__nome{
    font-size: 0.8rem;
    font-weight: 400;
    color: darkgray;
  }
  .informacoes__situacao{
    font-size: 1.2rem;
    font-weight: 400;
  }
}
